# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Docker
docker/mysql/data/
docker/redis/data/

# 環境変数
.env
.env.local
.env.*.local

# ログ
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 依存関係
node_modules/
vendor/

# ビルド成果物
dist/
build/
